@model IEnumerable<LuizaAndaluz.Models.Historia>
@{
    ViewData["Title"] = "Index";
}

<h1>Histórias</h1>

<div class="row mx-3 mb-3">
    <form method="post" asp-action="Index">
        <input class="d-none" type="text" name="page" value="1">
        <div class="row">
            <div class="col-md-auto col-sm-12">
                <div class="form-outline">
                    <label class="form-label" for="titulo"><b>Titulo:</b></label>
                    <input type="text" id="titulo" name="titulo" class="form-control" />
                </div>
            </div>

            <div class="col-md-auto col-sm-12">
                <div class="form-outline">
                    <label class="form-label" for="descricao"><b>Descrição:</b></label>
                    <input type="text" id="descricao" name="descricao" class="form-control" />
                </div>
            </div>

            <div class="col-md-auto col-sm-12">
                <div class="form-outline">
                    <label class="form-label" for="data"><b>Data:</b></label>
                    <input type="date" id="data" name="data" class="form-control" />
                </div>
            </div>

            <div class="col-md-auto col-sm-12 mr-md-4 mt-2">
                <div class="form-outline">
                    <label class="form-label" for="pesquisar"><b> </b></label>
                    <input class="btn-success btn form-control " type="submit" name="pesquisar" value="Pesquisar" />
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-auto col-sm-12 px-0 mt-2">
        <form method="get" asp-action="Index">
            <div class="form-outline">
                <label class="form-label" for="liimpar"><b> </b></label>
                <input class="btn-warning btn form-control" type="submit" name="limpar" value="Limpar" />
            </div>
        </form>
    </div>
</div>

<!-- Gallery -->
<div class="row">
    @{
        var items = Model.Where(h => h.Estado == true).ToList();

        //0, 1, 2
        //3, 4, 5
        //6, 7, 8
        int[] heights = new int[] { 500, 400, 300, 300, 300, 250, 200, 300, 450 };
    }

    @*coluna1*@
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        @{
            for (var i = 0; i < items.Count(); i++)
            {
                if (i == 0 || i == 3 || i == 6)
                {
                <a href="historias/details/@items[i].ID">
                    @if (items[i].Titulo.Length > 19)
                    {
                        <h4 class="text-center mb-2" style="cursor:pointer;">@items[i].Titulo.Substring(0,19)</h4>
                    }
                    else
                    {
                <h4 class="text-center mb-2" style="cursor:pointer;">@items[i].Titulo.Substring(0, 19)</h4>
                    }



                    @if (items[i].Conteudo.Count() == 0)
                    {
                        <img src="/Ficheiros/exemplo.jfif" class="w-100 shadow-1-strong rounded mb-4 gallery-image"
                             alt="/Ficheiros/exemplo.jfif"
                             style="width:inherit; border-radius:12px; object-fit:cover; height: @heights[i]px;" />
                    }
                    else if (items[i].Conteudo.First().Tipo == ".png" || items[i].Conteudo.First().Tipo == ".jpeg" || items[i].Conteudo.First().Tipo == ".jpg" || items[i].Conteudo.First().Tipo == ".gif" || items[i].Conteudo.First().Tipo == ".jfif")
                    {
                        <img src="/Ficheiros/@items[i].Conteudo.First().Ficheiro" class="w-100 shadow-1-strong rounded mb-4 gallery-image"
                             alt="/Ficheiros/@items[i].Conteudo.First().Ficheiro"
                             style="width:inherit; border-radius:12px; object-fit:cover; height: @heights[i]px;" />
                    }
                    else
                    {
                        <iframe class="card-img-top" src="/Ficheiros/@items[i].Conteudo.First().Ficheiro" allowfullscreen></iframe>
                    }

                </a>
                }
            }
        }
    </div>

    @*coluna2*@
    <div class="col-lg-4 mb-4 mb-lg-0">
        @{
            for (var i = 0; i < items.Count(); i++)
            {
                if (i == 1 || i == 4 || i == 7)
                {

                    <a href="historias/details/@items[i].ID">
                        <h4 class="text-center mb-2" style="cursor:pointer;">@items[i].Titulo</h4>


                        @if (items[i].Conteudo.Count() == 0)
                        {
                            <img src="/Ficheiros/exemplo.jfif" class="w-100 shadow-1-strong rounded mb-4 gallery-image"
                                 alt="/Ficheiros/exemplo.jfif"
                                 style="width:inherit; border-radius:12px; object-fit:cover; height: @heights[i]px;" />
                        }
                        else if (items[i].Conteudo.First().Tipo == ".png" || items[i].Conteudo.First().Tipo == ".jpg" || items[i].Conteudo.First().Tipo == ".gif" || items[i].Conteudo.First().Tipo == ".jfif")
                        {
                            <img src="/Ficheiros/@items[i].Conteudo.First().Ficheiro" class="w-100 shadow-1-strong rounded mb-4 gallery-image"
                                 alt="/Ficheiros/@items[i].Conteudo.First().Ficheiro"
                                 style="width:inherit; border-radius:12px; object-fit:cover; height: @heights[i]px;" />
                        }
                        else
                        {
                            <iframe class="card-img-top" src="/Ficheiros/@items[i].Conteudo.First().Ficheiro" allowfullscreen></iframe>
                        }

                    </a>
                }
            }
        }
    </div>

    @*coluna3*@
    <div class="col-lg-4 mb-4 mb-lg-0">
        @{
            for (var i = 0; i < items.Count(); i++)
            {
                if (i == 2 || i == 5 || i == 8)
                {
                    <a href="historias/details/@items[i].ID">
                        <h4 class="text-center mb-2" style="cursor:pointer;">@items[i].Titulo</h4>


                        @if (items[i].Conteudo.Count() == 0)
                        {
                            <img src="/Ficheiros/exemplo.jfif" class="w-100 shadow-1-strong rounded mb-4 gallery-image"
                                 alt="/Ficheiros/exemplo.jfif"
                                 style="width:inherit; border-radius:12px; object-fit:cover; height: @heights[i]px;" />
                        }
                        else if (items[i].Conteudo.First().Tipo == ".png" || items[i].Conteudo.First().Tipo == ".jpg" || items[i].Conteudo.First().Tipo == ".gif" || items[i].Conteudo.First().Tipo == ".jfif")
                        {
                            <img src="/Ficheiros/@items[i].Conteudo.First().Ficheiro" class="w-100 shadow-1-strong rounded mb-4 gallery-image"
                                 alt="/Ficheiros/@items[i].Conteudo.First().Ficheiro"
                                 style="width:inherit; border-radius:12px; object-fit:cover; height: @heights[i]px;" />
                        }
                        else
                        {
                            <iframe class="card-img-top" src="/Ficheiros/@items[i].Conteudo.First().Ficheiro" allowfullscreen></iframe>
                        }

                    </a>
                }
            }
        }
    </div>

    @if (Model.Where(h => h.Estado == true).Count() > 0)
    {
        <div class="w-100 px-4">
            <nav aria-label="Page navigation example" class="float-right">
                <form method="post" asp-action="Index">
                    <input class="d-none" type="text" name="page" value="" id="page">

                    <ul class="pagination">
                        @if (ViewBag.Page != 1)
                        {
                            <li class="page-item">
                                <input type="submit" class="page-link" value="Anterior" onclick="document.getElementById('page').value=@ViewBag.Page-1">
                            </li>
                        }
                        <li class="page-item @(ViewBag.Page == 1 ? "active" : "") ">
                            <input type="submit" class="page-link" name="page" value=1 onclick="document.getElementById('page').value='1'">
                        </li>

                        @{var counter = 2;}
                        @for (var x = 1; x <= ViewBag.Historias; x++)
                        {
                            if (x / 9.0 > 1)
                            {
                                <li class="page-item @(ViewBag.Page == counter ? "active" : "") ">
                                    <input type="submit" class="page-link" value=@counter onclick="document.getElementById('page').value=@counter">
                                </li>
                                counter++;
                            }
                        }

                        @if (ViewBag.Page + 1 < counter)
                        {
                            <li class="page-item">
                                <input type="submit" class="page-link" value="Seguinte" onclick="document.getElementById('page').value=@ViewBag.Page+1">
                            </li>

                        }

                    </ul>
                </form>
            </nav>
        </div>
    }
</div>
