@model IEnumerable<LuizaAndaluz.Models.Historia>

@{
    ViewData["Title"] = "PorValidar";
}

<h1>Histórias por Validar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td style="word-break: break-all">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Alterar </a>
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.ID"> Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
