@model IEnumerable<LuizaAndaluz.Models.Historia>

@{
    ViewData["Title"] = "PorValidar";
}

<h1>Histórias por Validar</h1>
<div class="row mx-3 mb-3">
    <form method="post" asp-action="PorValidar">
        <input class="d-none" type="text" name="page" value="1">
        <div class="row">
            <div class="col-md-auto col-sm-12">
                <div class="form-outline">
                    <label class="form-label" for="titulo"><b>Titulo:</b></label>
                    <input type="text" id="titulo" name="titulo" class="form-control" />
                </div>
            </div>

            <div class="col-md-auto col-sm-12">
                <div class="form-outline">
                    <label class="form-label" for="descricao"><b>Descrição:</b></label>
                    <input type="text" id="descricao" name="descricao" class="form-control" />
                </div>
            </div>

            <div class="col-md-auto col-sm-12">
                <div class="form-outline">
                    <label class="form-label" for="data"><b>Data:</b></label>
                    <input type="date" id="data" name="data" class="form-control" />
                </div>
            </div>

            <div class="col-md-auto col-sm-12 mr-md-4 mt-2">
                <div class="form-outline">
                    <label class="form-label" for="pesquisar"><b> </b></label>
                    <input class="btn-success btn form-control " type="submit" name="pesquisar" value="Pesquisar" />
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-auto col-sm-12 px-0 mt-2">
        <form method="get" asp-action="porValidar">
            <div class="form-outline">
                <label class="form-label" for="liimpar"><b> </b></label>
                <input class="btn-warning btn form-control" type="submit" name="limpar" value="Limpar" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="font: 'ITC Avant Garde Gothic Std'; color: #FFB81D ">
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th style="font: 'ITC Avant Garde Gothic Std'; color: #FFB81D ">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.Titulo.Length > 19)
            {
                <td style="word-break: break-all">
                    @item.Titulo.Substring(0, 19)
                </td>
            }
            else
            {
                <td style="word-break: break-all">
                    @item.Titulo
                </td>
            }
            @if (item.Descricao.Length > 55)
            {
                <td style="word-break: break-all">
                    @item.Descricao.Substring(0, 55)
                </td>
            }
            else
            {
                <td style="word-break: break-all">
                    @item.Descricao
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a class="btn btn-warning mx-1" asp-action="Edit" asp-route-id="@item.ID">Alterar </a>

            </td>
            <td>
                <a class="btn btn-info mx-1" asp-action="Details" asp-route-id="@item.ID">Detalhes</a>

            </td>

            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID"> Apagar</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
